* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important; 
    color: #3A3A3A !important;
    /* scroll-behavior: smooth !important; */
}


textarea {
    resize: none;
}

.nav-link:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nav-link a{
    color: #3A3A3A !important;
}

.txt-underline {
    text-decoration: underline !important;
}

.bg-custom-secondary{
    background-color: #5631D5 !important;
}

.font-size-12{
    font-size: 12px !important;
}
.font-size-13{
    font-size: 13px !important;
}

.font-size-14{
    font-size: 14px !important;
}

.font-size-16{
    font-size: 16px !important;
}

.font-size-20{
    font-size: 20px !important;
}
.font-size-24{
    font-size: 24px !important;
}
.font-size-30{
    font-size: 30px !important;
}

.height-40{
    height: 40px !important;
}
.height-400{
    height: 400px !important;
}

.font-inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400 !important; 
}

.font-inter-500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500 !important; 
}

.font-montserrat-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important; 
}

.font-montserrat-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important; 
}

.product:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.blog:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}


/* buttons */
.transparent-btn-1{
    border: 1px solid #2F3F50;
    color: #2F3F50 !important;
    border-radius: 5px;
    background-color: transparent;
    height: auto;
}
.custom-btn-charcoal{
    background-color: #3A3A3A !important;
    color: #FFFFFF !important; 
    border: none !important;
    border-radius: 5px !important;
}

/* background images */
.bannger-bg {
    background-image: url('../assets/images/banner.jpg');
    background-size: cover; 
    background-position: center;
    height: 75vh;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.spotlight-bg {
    background-color: #EBEAE6; 
    background-image: url('../assets/images/spotlight.png'); 
    background-size: cover; 
    background-position: center; 
    height: 400px !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }


/* background colors */
.bg-charcoal{
    background-color: #3A3A3A !important;
}
.bg-reddish{
 background-color: #DB4444 !important;
}

/* text colors */
.dollar-blue{
    color: #5041FF !important;
}
.bold-color{
    color: #3A3A3A !important;
}
.small-color{
    color: #2F3F50 !important;
}
.black-color{
    color: #000000 !important;
}
.secondary-color{
    color: #5631D5 !important;
}

.border-cs-secondary{
    border: 100px solid #5631D5 !important;
}

.custom-alert-1{
    border-radius: 5px;
    border: 1px solid  #5631D5;
    background: rgba(86, 49, 213, 0.10);
}


.nav-pills .nav-link.custom-tab.active {
    border-bottom: 2px solid #007bff; 
  }

/* responsive  starts */
@media (min-width: 1200px) {
    .container {
      padding-left: 65px !important; 
      padding-right: 65px !important;
    }
    .width-lg-80{
        width: 80% !important;
    }
  }
